{% extends 'base.html.twig' %}

{% block title %}Edit NewFemmes{% endblock %}

{% block body %}
    <h1>Edit NewFemmes</h1>

    {{ include('new_femmes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_new_femmes_index') }}">back to list</a>

    {{ include('new_femmes/_delete_form.html.twig') }}
{% endblock %}
